core/src/main/resources/META-INF/spring/spring-hasor-2.5.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://project.hasor.net/schema/spring/hasor-core" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://project.hasor.net/schema/spring/hasor-core" elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xsd:attributeGroup name="beanAttribute">
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="refID" type="xsd:string" use="optional"/>
        <xsd:attribute name="refType" type="xsd:string" use="optional"/>
        <xsd:attribute name="refName" type="xsd:string" use="optional"/>
    </xsd:attributeGroup>

    <xsd:complexType name="hasorType">
        <xsd:all>
            <xsd:element name="configFile" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string"/>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bean" minOccurs="0">
                <xsd:complexType>
                    <xsd:attributeGroup ref="beanAttribute"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="factoryID" type="xsd:string" use="optional"/>
        <xsd:attribute name="refProperties" type="xsd:string" use="optional"/>
        <xsd:attribute name="startWith" type="xsd:string" use="optional"/>
        <xsd:attribute name="startWithRef" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:element name="hasor" type="hasorType"/>
    <xsd:element name="bean">
        <xsd:complexType>
            <xsd:attributeGroup ref="beanAttribute"/>
            <xsd:attribute name="hasorID" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>